![Pandas logo](https://github.com/4GeeksAcademy/machine-learning-prework/blob/main/03-pandas/assets/pandas_logo.png?raw=true)

## Introducci√≥n a Pandas en Python

**Pandas** es una librer√≠a de c√≥digo abierto que proporciona estructuras de datos y est√° dise√±ado para manejar y analizar datos tabulares en Python. Pandas se basa en NumPy, lo que le permite integrarse bien en el ecosistema de la ciencia de los datos junto a otras librer√≠as como `Scikit-learn` y `Matplotlib`.

En concreto, los puntos clave de esta librer√≠a son:

- **Estructuras de datos**: Esta librer√≠a proporciona dos estructuras para trabajar con datos. Estos son las `Series` que son arrays unidimensionales etiquetados, similares a un vector, lista o secuencia y que es capaz de contener cualquier tipo de datos, y los `DataFrames`, que es una estructura bidimensional etiquetada con columnas que pueden ser de diferentes tipos, similar a una hoja de c√°lculo o a una tabla SQL.
- **Manipulaci√≥n de datos**: Pandas permite llevar a cabo un exhaustivo an√°lisis de datos a trav√©s de funciones que pueden aplicarse directamente sobre sus estructuras de datos. Estas operaciones incluyen control de datos faltantes, filtrado de datos, fusi√≥n, combinaci√≥n y uni√≥n de datos de diferentes fuentes...
- **Eficiencia**: Todas las operaciones y/o funciones que se apliquen sobre las estructuras de datos son vectorizadas para mejorar el rendimiento en comparaci√≥n con los bucles tradicionales e iteradores de Python.

Pandas es una herramienta fundamental para cualquier desarrollador que trabaje con datos en Python, ya que proporciona una amplia variedad de herramientas para la exploraci√≥n, limpieza y transformaci√≥n de datos, haciendo que el proceso de an√°lisis sea m√°s eficiente y efectivo.

### Estructuras de datos

Pandas proporciona dos estructuras de datos principales: `Series` y `DataFrames`.

#### Series

Una **serie** en Pandas es una estructura de datos unidimensional etiquetada. Es similar a un array de 1D de NumPy, pero tiene un √≠ndice que permite el acceso a los valores por etiqueta. Una serie puede contener cualquier tipo de datos: enteros, cadenas, objetos de Python...

![Ejemplo de Serie](https://github.com/4GeeksAcademy/machine-learning-prework/blob/main/03-pandas/assets/series.PNG?raw=true)

Una serie en Pandas tiene dos partes diferenciadas:

- **√çndice** (*index*): Un array de etiquetas asociado a los datos.
- **Valor** (*value*): Un array de datos.

Una serie puede ser creada utilizando la clase `Series` de la librer√≠a con una lista de elementos como argumento. Por ejemplo:

In [2]:
import pandas as pd

serie = pd.Series([1, 2, 3, 4, 5])
serie

0    1
1    2
2    3
3    4
4    5
dtype: int64

Esto crear√° una serie con los elementos 1, 2, 3, 4 y 5. Adem√°s, al no haber incluido informaci√≥n sobre los √≠ndices, se genera uno autom√°tico empezando en 0. Si quisi√©ramos crear una nueva serie con un √≠ndice concreto se programar√≠a como sigue:

In [3]:
serie = pd.Series([1, 2, 3, 4, 5], index = ["a", "b", "c", "d", "e"])
serie

a    1
b    2
c    3
d    4
e    5
dtype: int64

De esta forma, la serie anterior tiene un √≠ndice compuesto por letras.

Ambas series almacenan los mismos valores, pero la forma en la que se accede puede variar seg√∫n el √≠ndice.

En una serie se puede acceder a sus elementos por √≠ndice o por posici√≥n (esto √∫ltimo es lo que hac√≠amos en NumPy). A continuaci√≥n se muestran algunas operaciones que se pueden realizar utilizando la serie anterior:

In [4]:
# Acceder al tercer elemento
print(serie["c"]) # Por √≠ndice
print(serie[2]) # Por posici√≥n

# Cambiar el valor del segundo elemento
serie["b"] = 7
print(serie)

# Sumar 10 a todos los elementos
serie += 10
print(serie)

# Calcular la suma de los elementos
sum_all = serie.sum()
print(sum_all)

3
3
a    1
b    7
c    3
d    4
e    5
dtype: int64
a    11
b    17
c    13
d    14
e    15
dtype: int64
70

/tmp/ipykernel_75940/51607419.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(serie[2]) # Por posici√≥n

#### DataFrame

Un **DataFrame** en Pandas es una estructura de datos bidimensional etiquetada. Es similar a un array de 2D de NumPy, pero tiene un √≠ndice que permite el acceso a los valores por etiqueta por fila y columna.

![Ejemplo de DataFrame](https://github.com/4GeeksAcademy/machine-learning-prework/blob/main/03-pandas/assets/dataframe.PNG?raw=true)

Un DataFrame en Pandas tiene varias partes diferenciadas:

- **Datos** (*data*): Una matriz de valores y que pueden ser de distinto tipo por columna.
- **√çndice de fila** (*row index*): Un array de etiquetas asociado a las filas.
- **√çndice de columna** (*column index*): Un array de etiquetas asociado a las columnas.

Un DataFrame puede verse como un conjunto de series unidas en una estructura tabular, con un √≠ndice por fila en com√∫n y un √≠ndice de columna propio de cada serie.

![Series y DataFrame](https://github.com/4GeeksAcademy/machine-learning-prework/blob/main/03-pandas/assets/series_dataframe.png?raw=true?raw=true)

Un DataFrame puede ser creado utilizando la clase `DataFrame`. Por ejemplo:

In [5]:
dataframe = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
dataframe

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

Esto crear√° un DataFrame con tres filas y tres columnas cada fila. Al igual que suced√≠a con las series, un DataFrame generar√° √≠ndices autom√°ticos para filas y columnas si no se pasan como argumento en el constructor de la clase. Si quisi√©ramos crear un nuevo DataFrame con √≠ndices concretos para filas y columnas se programar√≠a como sigue:

In [6]:
data = {
    "col A": [1, 2, 3],
    "col B": [4, 5, 6],
    "col C": [7, 8, 9]
}

dataframe = pd.DataFrame(data, index = ["a", "b", "c"])
dataframe

   col A  col B  col C
a      1      4      7
b      2      5      8
c      3      6      9

De esta forma se proporciona un √≠ndice personalizado para las columnas (etiquetando las filas dentro de un diccionario) y para las filas (con el argumento `index` tal y como suced√≠a con las series).

En un DataFrame se puede acceder a sus elementos por √≠ndice o por posici√≥n. A continuaci√≥n se muestran algunas operaciones que se pueden realizar utilizando el DataFrame anterior:

In [7]:
# Acceder a todos los datos de una columna
print(dataframe["col A"]) # Por √≠ndice
print(dataframe.loc[:,"col A"]) # Por √≠ndice
print(dataframe.iloc[:,0]) # Por posici√≥n

# Acceder a todos los datos de una fila
print(dataframe.loc["a"]) # Por √≠ndice
print(dataframe.iloc[0]) # Por posici√≥n

# Acceder a un elemento (fila, columna) concreto
print(dataframe.loc["a", "col A"]) # Por √≠ndice
print(dataframe.iloc[0, 0]) # Por posici√≥n

# Crear una nueva columna
dataframe["col D"] = [10, 11, 12]
print(dataframe)

# Crear una nueva fila
dataframe.loc["d"] = [13, 14, 15, 16]
print(dataframe)

# Multiplicar por 10 los elementos de una columna
dataframe["col A"] *= 10
print(dataframe)

# Calcular la suma de todos los elementos
sum_all = dataframe.sum()
print(sum_all)

a    1
b    2
c    3
Name: col A, dtype: int64
a    1
b    2
c    3
Name: col A, dtype: int64
a    1
b    2
c    3
Name: col A, dtype: int64
col A    1
col B    4
col C    7
Name: a, dtype: int64
col A    1
col B    4
col C    7
Name: a, dtype: int64
1
1
   col A  col B  col C  col D
a      1      4      7     10
b      2      5      8     11
c      3      6      9     12
   col A  col B  col C  col D
a      1      4      7     10
b      2      5      8     11
c      3      6      9     12
d     13     14     15     16
   col A  col B  col C  col D
a     10      4      7     10
b     20      5      8     11
c     30      6      9     12
d    130     14     15     16
col A    190
col B     29
col C     39
col D     49
dtype: int64

### Funciones

Pandas proporciona una gran cantidad de funciones predefinidas y que se pueden aplicar sobre las estructuras de datos vistas anteriormente. Algunas de las m√°s utilizadas en el an√°lisis de datos son:

In [8]:
import pandas as pd

s1 = pd.Series([1, 2, 3])
s2 = pd.Series([4, 5, 6])
d1 = pd.DataFrame([[1, 2, 3], [4, 5, 6]])
d2 = pd.DataFrame([[7, 8, 9], [10, 11, 12]])

# Operaciones Aritm√©ticas
print("Suma de series:", s1.add(s2))
print("Suma de DataFrames:", d1.add(d2))

# Operaciones Estad√≠sticas
# Se pueden aplicar de igual forma a los DataFrames
print("Media:", s1.mean())
print("Mediana:", s1.median())
print("N√∫mero de elementos:", s1.count())
print("Desviaci√≥n est√°ndar:", s1.std())
print("Varianza:", s1.var())
print("M√°ximo valor:", s1.max())
print("M√≠nimo valor:", s1.min())
print("Correlaci√≥n:", s1.corr(s2))
print("Resumen estad√≠stico:", s1.describe())

Suma de series: 0    5
1    7
2    9
dtype: int64
Suma de DataFrames:     0   1   2
0   8  10  12
1  14  16  18
Media: 2.0
Mediana: 2.0
N√∫mero de elementos: 3
Desviaci√≥n est√°ndar: 1.0
Varianza: 1.0
M√°ximo valor: 3
M√≠nimo valor: 1
Correlaci√≥n: 1.0
Resumen estad√≠stico: count    3.0
mean     2.0
std      1.0
min      1.0
25%      1.5
50%      2.0
75%      2.5
max      3.0
dtype: float64

#### Funciones personalizadas

Adem√°s de las funciones predefinidas de Pandas, tambi√©n se pueden definir y aplicar otras a las estructuras de datos. Para ello, tenemos que programar la funci√≥n para que reciba un valor (o una columna o fila en el caso de un DataFrame) y devuelva otro modificado, y referenciarla con `apply`.

Adem√°s, esta funci√≥n permite utilizar **expresiones lambda** (*lambda expressions*) para la declaraci√≥n an√≥nima de funciones.

A continuaci√≥n se muestra c√≥mo aplicar funciones a las series:

In [9]:
import pandas as pd
s = pd.Series([1, 2, 3, 4])

# Definici√≥n expl√≠cita de la funci√≥n
def squared(x):
    return x ** 2
s1 = s.apply(squared)
print(s1)

# Definici√≥n an√≥nima de la funci√≥n
s2 = s.apply(lambda x: x ** 2)
print(s2)

0     1
1     4
2     9
3    16
dtype: int64
0     1
1     4
2     9
3    16
dtype: int64

A continuaci√≥n se muestra c√≥mo aplicar funciones a un DataFrame, que puede hacerse por fila, por columna o por elementos, similar a las series:

In [10]:
df = pd.DataFrame({
    "A": [1, 2, 3],
    "B": [4, 5, 6]
})

# Aplicar funci√≥n a lo largo de una columna
df["A"] = df["A"].apply(lambda x: x ** 2)
print(df)

# Aplicar funci√≥n a lo largo de una fila
df.loc[0] = df.loc[0].apply(lambda x: x ** 2)
print(df)

# Aplicar funci√≥n a todos los elementos
df = df.applymap(lambda x: x ** 2)
print(df)

   A  B
0  1  4
1  4  5
2  9  6
   A   B
0  1  16
1  4   5
2  9   6
    A    B
0   1  256
1  16   25
2  81   36

/tmp/ipykernel_75940/3119642109.py:15: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x ** 2)

`apply` es m√°s flexible que otras funciones vectorizadas de Pandas, pero puede ser m√°s lenta, especialmente cuando se aplica a grandes conjuntos de datos. Siempre es importante explorar las funciones incorporadas de Pandas o NumPy primero, ya que suelen ser m√°s eficientes que las que podr√≠amos llegar a implementar nosotros.

Adem√°s, esta funci√≥n puede devolver resultados de diferentes formas, dependiendo de la funci√≥n aplicada y de c√≥mo est√© configurada.

## Ejercicios

Haz clic en el bot√≥n "Abrir en Colab" que se encuentra al principio de esta lecci√≥n, para poder realizar los ejercicios en Google Collab.

En el siguiente enlace puedes conseguir las [soluciones a los ejercicios de pandas python](https://4geeks.com/lesson/pandas-exercises-and-solutions) que encontraras mas abajo.

> üî• We also recommend you to complete this [interactive and self-corrected Pandas tutorial](https://4geeks.com/interactive-exercise/pandas-tutorial-and-exercises) accompanied by our AI mentor Rigobot, who will answer all your questions instantly.

### Creaci√≥n de series y DataFrames

#### Ejercicio Pandas 01: Crea una serie a partir de una lista, de un array de NumPy y de un diccionario (‚òÖ‚òÜ‚òÜ)

> NOTA: Revisa la clase `pd.Series` (https://pandas.pydata.org/docs/reference/api/pandas.Series.html)

In [11]:
import numpy as np, random
import pandas as pd

random.seed(42)
lista1 = []
for _ in range(10):
    lista1.append(random.randint(-100, 100))

array1 = np.random.uniform(-10, 10, size=(1, 10))

dict1 = {}
for i in range(10):
    dict1[f"{i}"] = 1 + i

Serie11 = pd.Series(lista1)
Serie12 = pd.Series(array1.flatten())
values = [dict1[key] for key in dict1]
Serie13 = pd.Series(values)

#### Ejercicio Pandas 02: Crea un DataFrame a partir de un array de NumPy, de un diccionario y de una lista de tuplas (‚òÖ‚òÜ‚òÜ)

> NOTA: Revisa la clase `pd.DataFrame` (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)

In [12]:
import numpy as np, random
import pandas as pd
d2 = {'y0': Serie11, 'y1': Serie12, 'y2': Serie13}
df2 = pd.DataFrame(d2)

print(df2)

   y0        y1  y2
0  63  0.117496   1
1 -72  7.069065   2
2 -94  5.635772   3
3  89  7.532817   4
4 -30 -1.933871   5
5 -38  2.403852   6
6 -43 -5.710462   7
7 -65 -5.257984   8
8  88 -3.068746   9
9 -74 -9.038297  10

#### Ejercicio Pandas 03: Crea 2 series y util√≠zalas para construir un DataFrame (‚òÖ‚òÜ‚òÜ)

> NOTA: Revisa las funciones `pd.concat` (https://pandas.pydata.org/docs/reference/api/pandas.concat.html) y `pd.Series.to_frame` (https://pandas.pydata.org/docs/reference/api/pandas.Series.to_frame.html)

In [13]:
Serie31 = pd.Series(np.random.uniform(-5,5,10))
Serie32 = pd.Series(np.arange(5,15,1))
print(Serie31, '\n', Serie32,)
data3 = {'y0': Serie31, 'y1': Serie32}
df3= pd.DataFrame(data3)
df3

0   -0.115441
1    2.946703
2    2.879689
3    3.473137
4   -0.483047
5    0.891060
6   -4.876625
7    0.625824
8   -3.753063
9   -2.357974
dtype: float64
 0     5
1     6
2     7
3     8
4     9
5    10
6    11
7    12
8    13
9    14
dtype: int64

         y0  y1
0 -0.115441   5
1  2.946703   6
2  2.879689   7
3  3.473137   8
4 -0.483047   9
5  0.891060  10
6 -4.876625  11
7  0.625824  12
8 -3.753063  13
9 -2.357974  14

### Filtrado y actualizaci√≥n

#### Ejercicio Pandas 04: Utiliza las series creadas en el ejercicio anterior y selecciona las posiciones de los elementos de la primera serie que est√°n en la segunda (‚òÖ‚òÖ‚òÜ)

> NOTA: Revisa la funci√≥n `pd.Series.isin` (https://pandas.pydata.org/docs/reference/api/pandas.Series.isin.html)

In [14]:
var4 = df3.isin(['y0[0]', 'y1[0]'])
var4

      y0     y1
0  False  False
1  False  False
2  False  False
3  False  False
4  False  False
5  False  False
6  False  False
7  False  False
8  False  False
9  False  False

#### Ejercicio Pandas 05: Utiliza las series creadas en el ejercicio 03 y lista los elementos no comunes entre ambas (‚òÖ‚òÖ‚òÜ)

In [15]:
array50= np.array(np.zeros(10), dtype=float)
array51= np.array(np.zeros(10), dtype=float)
data5={
    
    'y0':array50,
    'y1':array51,
    }
df5 = pd.DataFrame(data5)

for i in range(min(len(Serie31), len(df5))):
    
    if Serie31[i] != Serie32[i]:
        
        df5.iloc[i, 0] = Serie31[i]
        df5.iloc[i, 1] = Serie32[i]
var5 = df5.isin(['y0[0]', 'y1[0]']),
print('Dataframe "df5" elementos no comunes:',df5,'\n',)
print('Dataframe logico para ver que no son iguales los valores de celda con mismo indice:','\n',var5)

Dataframe "df5" elementos no comunes:          y0    y1
0 -0.115441   5.0
1  2.946703   6.0
2  2.879689   7.0
3  3.473137   8.0
4 -0.483047   9.0
5  0.891060  10.0
6 -4.876625  11.0
7  0.625824  12.0
8 -3.753063  13.0
9 -2.357974  14.0

Dataframe logico para ver que no son iguales los valores de celda con mismo indice:
 (      y0     y1
0  False  False
1  False  False
2  False  False
3  False  False
4  False  False
5  False  False
6  False  False
7  False  False
8  False  False
9  False  False,)

#### Ejercicio 06: Crea un DataFrame de n√∫meros aleatorios con 5 columnas y 10 filas y ordena una de sus columnas de menor a mayor (‚òÖ‚òÖ‚òÜ)

> NOTA: Revisa la funci√≥n `pd.DataFrame.sort_values` (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html)

In [16]:
random.seed(42)
df6 = pd.DataFrame(np.random.uniform(-50,50, size=(10,5)),columns = [f"Col {i}" for i in range(5)])
df6.sort_values("Col 0", ascending=True,)
df6

       Col 0      Col 1      Col 2      Col 3      Col 4
0 -38.616700 -35.075177   0.849217 -48.115494 -18.807476
1  29.613406 -30.900875 -17.014684  23.411488  35.695954
2  19.197825 -32.058280   1.596624  23.639667 -36.144121
3  14.296572  15.666543  36.077619 -48.034762 -42.988314
4 -40.120520  40.557056 -21.794626 -27.891678 -15.199005
5  15.736296 -12.576680  15.168316 -27.356688  31.789525
6  13.087735   7.466107 -47.206235 -49.874340  17.527531
7 -33.524114  22.382402  -7.361048 -31.638116 -17.215722
8 -17.850802  -4.661358 -20.353938  29.510975 -25.302332
9 -24.895592  -0.597361  30.715071  44.678378 -44.974087

#### Ejercicio Pandas 07: Modifica el nombre de las 5 columnas del DataFrame anterior por el siguiente formato: `N_column` donde `N` es el n√∫mero de la columna (‚òÖ‚òÖ‚òÜ)

> NOTA: Revisa la funci√≥n `pd.DataFrame.sort_values` (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html)

In [17]:
df6.columns = [f"{i}_column" for i in range(5)]
df6

    0_column   1_column   2_column   3_column   4_column
0 -38.616700 -35.075177   0.849217 -48.115494 -18.807476
1  29.613406 -30.900875 -17.014684  23.411488  35.695954
2  19.197825 -32.058280   1.596624  23.639667 -36.144121
3  14.296572  15.666543  36.077619 -48.034762 -42.988314
4 -40.120520  40.557056 -21.794626 -27.891678 -15.199005
5  15.736296 -12.576680  15.168316 -27.356688  31.789525
6  13.087735   7.466107 -47.206235 -49.874340  17.527531
7 -33.524114  22.382402  -7.361048 -31.638116 -17.215722
8 -17.850802  -4.661358 -20.353938  29.510975 -25.302332
9 -24.895592  -0.597361  30.715071  44.678378 -44.974087

#### Ejercicio Pandas 08: Modifica el √≠ndice de las filas del DataFrame del ejercicio 06 (‚òÖ‚òÖ‚òÜ)

> NOTA: Revisa la funci√≥n `pd.DataFrame.sort_values` (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html)

In [18]:
df6.index = [f"{i}_row" for i in range(10)]
df6

        0_column   1_column   2_column   3_column   4_column
0_row -38.616700 -35.075177   0.849217 -48.115494 -18.807476
1_row  29.613406 -30.900875 -17.014684  23.411488  35.695954
2_row  19.197825 -32.058280   1.596624  23.639667 -36.144121
3_row  14.296572  15.666543  36.077619 -48.034762 -42.988314
4_row -40.120520  40.557056 -21.794626 -27.891678 -15.199005
5_row  15.736296 -12.576680  15.168316 -27.356688  31.789525
6_row  13.087735   7.466107 -47.206235 -49.874340  17.527531
7_row -33.524114  22.382402  -7.361048 -31.638116 -17.215722
8_row -17.850802  -4.661358 -20.353938  29.510975 -25.302332
9_row -24.895592  -0.597361  30.715071  44.678378 -44.974087